.float-container {
    border: 0;
    padding: 0;
}

.float-child {
    width: 50%;
    float: left;
    padding: 0;
    border: 2px solid red;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

.wrap_group {
    background: white;
    width: 100%;
    height: 900px;
    padding: 5px 5px;
    overflow-y: scroll;
}

.li_wrap {
    display: inline-block;
    border: solid black;
    vertical-align: middle;
    /*text-align: center;*/
    width: 40%;
    height: 20%;
    font-size: 40pt;
    background: white;
    list-style: none;
    /*padding: 10px;*/
    /*margin: 20px;*/
}

.li_tablediv {
    display: table;
    width: 100%;
}

.li_rowdiv {
    display: table-row;
}

.li_namediv {
    background-color: white;
    display: table-cell;
    text-align: center;
    width: 90%;
}

.li_morediv {
    background-color: aliceblue;
    display: table-cell;
    text-align: center;
    border-left: solid black;
    width: 10%;
}

.wrap {
    background: white;
    width: 90%;
    padding: 5px 5px;
}

li {
    display: inline-block;
    border: solid black;
    vertical-align: middle;
    font-size: 20pt;
    background: white;
    list-style: none;
    padding: 0;
    margin: 5px;
}

ul {
    background: white;
    margin: 10px;
    padding: 10px 10px;
}
